<div class="d-flex mx-4 mb-4">
    <div class="mx-3 text-center">
        <i class="fas fa-caret-up" style="font-size: 35px;"></i>
        <h4>1</h4>
        <p class="text-secondary">Votos</p>
    </div>
    <div>
        <div>
            <p><%= answer.content %></p>
        </div>
        <div>
            <div class="list-group">
                <span href="#" class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                        risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </span>

            </div>
            <div class="mt-3 text-right">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleTextarea" rows="2"
                                placeholder="Agrega un comentario"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary ">comentar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>