<div>
    <%= form_for [@question, @answer], remote: true do |f| %>
    <fieldset>
        <div class="form-group">
            <%= f.text_area :content, class: "form-control", id: "answer-box", placeholder: "Agrega un comentario", rows: "2", style: "overflow-y:auto; min-height: 10em;" %>
        </div>
        <%= f.submit "Responder", class: "btn btn-primary" %>
    </fieldset>
    <% end %>
</div>